<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
 <test name="TestFirefox">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="Browser.MultiBrowser"/>
    </classes>
  </test> <!-- Test -->
  <test name="TestChrome">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Browser.MultiBrowser"/>
    </classes>
  </test> 
  </suite> <!-- Suite -->